body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f2f2;
}

.navbar{
    background-color: #333;
}

.navbar-brand{
    color: #ffffff;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar-brand:hover{
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar .navbar-nav .nav-link{
    color: #ffffff;   
}

.main{
    margin-top: 50px;
}
.navbar .navbar-nav .nav-link:hover{
    color: #ffffff;
    text-decoration: underline;
}

section {
    padding: 25px 20px;
    text-align: center;
    overflow: hidden;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#trainers,#workouts{
    background-color:#333333;
    color:#ffffff;
}

.card-text{
    text-align: justify;
}  

#workouts .card,#trainers .card{
    border: none;
    background-color: #333333;
    color: #ffffff; 
    border-radius: 0%;
}

 .form{
    width: 100%; 
    height: auto;
    border: #333333 2px solid ; 
    border-radius: 5px;
 }

 .cd{
    align-items: start;
    text-align: left;
 }

 .navbar-nav .nav-item {
    padding: 5px;
    text-align: right;

  }